@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="overflow:hidden;">
    <img src="http://comedycentral.mtvnimages.com/images/shows/chappelle/videos/season1/101_popcopy_v6.jpg" class="img-circle" />
    <h1 class="headerIndex">Welcome to PopCopy!</h1>
    <p class="lead">Everything is gone. I hope you <span style="font-weight:bold">Registered</span> :(</p>
    <p>Be one of our @ViewBag.Temp members!</p>
</div>
<div>
    <div class="jumbotron">
        <h2>Inventory</h2><br />
        <ul class="list-inline">
            <li onmouseover="HOVERSTUFF(this)" id="listitem1" class="col-5 list-inline-item"><h5>Postcards</h5></li>
            <li onmouseover="HOVERSTUFF(this)" id="listitem2" class="col-5 list-inline-item"><h5>Flyer</h5></li>
            <li onmouseover="HOVERSTUFF(this)" id="listitem3" class="col-5 list-inline-item"><h5>Mail Postcards</h5></li>
            <li onmouseover="HOVERSTUFF(this)" id="listitem4" class="col-5 list-inline-item"><h5>Certificates</h5></li>
            <li onmouseover="HOVERSTUFF(this)" id="listitem5" class="col-5 list-inline-item"><h5>Brochures</h5></li>
        </ul>
        <div class="DisplayClass">
            <p id="itemDesc"></p>
        </div>
    </div>
</div>
<div id="pop1Background" style="display:none;">
    &nbsp;
    <div class="row">
        <div class="col-md-4">
            <h2>Don't Worry</h2>
            <p>
                Your can still register to save yourself here.
            </p>
            <p><a class="btn btn-danger" href="/Home/Register">REGISTER</a></p>
        </div>

    </div>
</div>